<div class="row frontpage-main-block">
  <div class="col-lg-10">
    <h1>Welcome to the Achieve Project</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cupiditate
      deleniti ducimus eveniet illo iste labore libero nesciunt, omnis optio, placeat
      porro praesentium quis quod sint temporibus, vero voluptates voluptatibus.</p>
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-3">
        <input class="btn btn-success" type="button" value="Login"></div>
      <div class="col-lg-3">
        <input class="btn btn-danger" type="button" value="Signup"></div>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>
