<div class="row frontpage-main-block">
  <div class="col-lg-10">
    <h1>Welcome to the Achieve Project</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cupiditate
      deleniti ducimus eveniet illo iste labore libero nesciunt, omnis optio, placeat
      porro praesentium quis quod sint temporibus, vero voluptates voluptatibus.</p>

    <div class="row front-page-btn-row">
      <div class="col-lg-12 front-page-btn-holder">
        <app-login></app-login>
        <!--<input class="btn btn-success" type="button" value="Login">-->
        <!--<app-login></app-login>-->
        <!--<input class="btn btn-danger" type="button" value="Signup">-->
        <app-signup></app-signup>
      </div>
    </div>
  </div>
</div>

