.error-conatiner{
  display: grid;
  justify-content: center;
    button{
      text-align: center;
      width: 15%;
      border:none;
      outline: none;
      color: #000;
      background-color: #d9bf77;
      border-radius: 7px;
        &:hover{
          background-color: black;
          color: white;
          transition: 1s ease-out;
        }
    }
}
