/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

body {
  background-color: $back-background;
}
.content-holder{
  background-color: $content-background;
  height: 100vh;
  width: 90%;
  border-radius: 15px;
  margin-top: 5%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.frontpage-main-block {
  text-align: center;
  background-color: $content-background;
  color: #EEEEEE;
  border-radius: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
}


