/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

body {
  background-color: $back-background;
}
.content-holder{
  background-color: $content-background;
  height: 100vh;
  text-align: center;
  border-radius: 50px;

}

.frontpage-main-block {
  text-align: center;
  background-color: $content-background;
  color: #EEEEEE;
  border-radius: 50px;
}


